/* .form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
} */
.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: auto auto;
  z-index: 100;
}

.form {
  display: flex;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  flex-direction: column;
  width: 70%;
  max-width: 600px;
  margin: auto auto;
  margin-bottom: 20px;
}
.formTitle {
  margin: 10px 0 30px 0;
}
.userInput {
  /* margin-right: 30px; */
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.label {
  margin-right: 5px;
}

.select,
.input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.input::placeholder {
  color: #aaa;
}

.userStart {
  background-color: #0070f3;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.userStart:hover {
  background-color: #0060d6;
}

.userStartLoading {
  background-color: #0060d6;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: wait;
  pointer-events: none;
}

.formDataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: auto auto;
  z-index: 100;
}

.formData {
  display: flex;
  justify-content: space-around;
  padding: 20px 40px;
  background-color: white;
  border-radius: 10px;
  flex-direction: row;
  width: 100%;
  margin: auto auto 30px;
}

.loadingSpin span {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}

@media only screen and (max-width: 600px) {
  .form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .userInput {
    margin-right: 0px;
    margin-bottom: 30px;
  }
  .form {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
}
