.quizContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: auto auto;
  z-index: 100;
}

.quiz {
  display: flex;
  padding: 20px 40px;
  background-color: white;
  border-radius: 10px;
  flex-direction: column;
  width: 100%;
  margin: auto auto;
}

.quizSubmitButton {
  background-color: #0070f3;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.quizSubmitButton:hover {
  background-color: #0060d6;
}

.quizScore {
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-align: center;
}
